.MainDiv {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px black Solid 0 0;
  font-size: 22px; }

.bottomDiv1 {
  background-color: #d3ff66;
  width: 100px;
  height: 100px;
  margin: 20px; }

.bottomDiv2 {
  background-color: #6d9900;
  width: 100px;
  height: 100px;
  margin: 20px; }

