<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="SassAndCoffeeCacheSettings" enabled="true" duration="3600" location="Any" varyByHeader="Accept-Encoding" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <httpModules>
      <add name="SassInterceptorModule" type="SassAndCoffee.AspNet.SassInterceptorModule" />
      <add name="JavaScriptInterceptorModule" type="SassAndCoffee.AspNet.JavaScriptInterceptorModule" />
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <appSettings>
    <remove key="SassAndCoffee.Cache" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="SassInterceptorModule" type="SassAndCoffee.AspNet.SassInterceptorModule" />
      <add name="JavaScriptInterceptorModule" type="SassAndCoffee.AspNet.JavaScriptInterceptorModule" />
    </modules>
    <caching enabled="true" enableKernelCache="true">
      <profiles>
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" varyByHeaders="Accept-Encoding" location="Any" />
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" varyByHeaders="Accept-Encoding" location="Any" />
      </profiles>
    </caching>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
  </system.webServer>
</configuration>
<!--ProjectGuid: CE777759-F537-425C-9EAC-7F3368B2F950-->